:root {
    --color-lilac: #c3affc;
    --color-lilac-dark: #a281ff
}

body {
    min-width: 210mm;
    max-width: 70%;
    width: auto;
    min-height: 297mm;
    border: 12px solid var(--color-lilac);
    margin: 15mm auto;
    font-family: "Roboto serif", sans-serif;
    display: grid;
    grid-template-columns: 1.15fr 2fr;
}



header {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 2px solid black;
    color: var(--color-lilac);
}

header h1 {
    float: left;
    margin: .7rem 0 0 2rem;
}

header h1 .name {
    font-size: 24pt;
}

header video {
    height: 22mm;
    float: right;
    margin: .5rem;
}

.wrap-left {
    grid-column-start: 1;
    margin: .5rem;

}

.wrap-right {
    grid-column-start: 2;
    padding: .5rem;
    margin: .5rem 0;
    border-left: 1px solid black;
}

img {
    width: 100%;
}

p {
    margin: .2em 0;
}

p::first-letter {
    font-size: 1.1rem;
    color: var(--color-lilac-dark);
    font-weight: bold;
}

.wrap-right p {
    column-count: 2;
}

.sub-question {
    font-weight: bold;
}

article h2 {
    margin: 0 0 .2rem 0;
}

q {
    font-style: italic;
    color: var(--color-lilac-dark);
}

@media (max-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: 1fr 0;
    }
    .wrap-right {
        grid-column-start: 1;
        border: 0;
        border-top: 1px solid black;
    }
    .wrap-right p {
        column-count: 1;
    }
}

@media print {
    @page {
        size: A4;
        margin: 3mm 5mm;
    }
    body  {
        font-size: 10pt;
        margin: 0;
        max-width: 100%;
        border: 1px solid black;
        grid-template-columns: 1.15fr 2fr;
    }
    header video {
        display: none;
    }
    header h1 {
        float: none;
        margin: .5rem 0 .2rem .5rem;
    }
    article h2 {
        font-size: 10pt;
    }
    .wrap-right {
        grid-column-start: 2;
        align-self: start;
        border: 0;
        border-left: 1px solid black;
    }
    .wrap-right p {
        column-count: 2;
    }
    .wrap-left {
        align-self: start;
    }
}


